.button {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: box-shadow 0.15s ease-in-out;
  margin: auto;
}

.button:hover {
  -webkit-box-shadow: 0px 5px 15px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 5px 15px rgba(0,0,0,0.30);
  box-shadow: 0px 5px 15px rgba(0,0,0,0.30);
}

.button-default {
  /* https://uigradients.com/#Mantle */
  background: #24C6DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.button-success {
  /* https://uigradients.com/#SeaBlizz */
  background: #1CD8D2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1CD8D2, #93EDC7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1CD8D2, #93EDC7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}